/* =============================================================================
  An example of how stylize the tabs
============================================================================= */

.tabs-navigation {
  padding: 0 50px;
}

.tabs-navigation {
  max-height: 62px;
  padding: 0 10px;
  border-bottom: 1px solid #ddd;
}

.tabs-menu {
  display: table;
  margin: 0;
  padding: 0;
  list-style: none;
}

.tabs-menu-item {
  float: left;
}

.tab-panel {
  margin: 20px;
}

.tabs-menu-item a {
  display: block;
  height: 30px;
  padding: 0 30px;
  color: #a9a9a9;
  border-bottom: 0;
  line-height: 30px;
}

.tabs-menu-item:not(.is-active) a:hover {
  color: #3498db;
}

.tabs-menu-item.is-active a {
  color: #333;
  border: 1px solid #ddd;
  border-top: 2px solid #3498db;
  border-bottom: 0;
  background: #fff;
}
