parser: "babel-eslint"

rules:
  # Strict mode
  strict: [2, "never"]

  # Node.js
  no-process-exit: 0

  # Stylistic issues
  indent: [1, 2]
  brace-style: [1, "1tbs", { allowSingleLine: true }]
  comma-style: [1, "last"]
  no-lonely-if: 1
  no-multiple-empty-lines: [1, { max: 1 }]
  no-nested-ternary: 1
  quotes: [1, "single"]
  space-after-keywords: [1, "always"]
  space-before-blocks: [1, "always"]
  spaced-line-comment: [1, "always"]

  # React
  react/jsx-no-undef: 2
  react/jsx-uses-vars: 2
  react/no-did-mount-set-state: 2
  react/no-did-update-set-state: 2
  react/no-multi-comp: 2
  react/no-unknown-property: 2
  react/react-in-jsx-scope: 2
  react/self-closing-comp: 2

env:
  browser: true
  node: true

plugins:
  - react
