<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">

    <title>{{title}}</title>

    <meta name="viewport" content="width=device-width">
    <meta name="apple-mobile-web-app-title" content="{{title}}">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="src/_sg.css">
    {{#cssFils}}
      <link rel="stylesheet" href="{{{.}}}">
    {{/cssFils}}
  </head>
  <body>
    <div id="app"></div>
    <script>
      window.options = {
        base: '{{{root}}}',
        hashbang: {{hashbang}}
      };
    </script>
    {{#jsFils}}
      <script src="{{{.}}}"></script>
    {{/jsFils}}
    <script src="{{{react}}}"></script>
    <script src="src/_contents.js"></script>
    <script src="src/_sg.js"></script>
  </body>
</html>
