/**
 * Container
 */

.sg-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: auto;
  left: 0;
  overflow: hidden;
  min-height: 100%;
  background: var(--gray-lighter);
}

@media (--break-sm) {
  .sg-container {
    display: flex;
  }
}
