.sg {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none !important; /* for link */
  color: inherit;
  border: none;
  background: transparent;
  font: 300 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.sg:focus {
  color: inherit;
  outline: none;
  box-shadow: 0 0 5px var(--blue);
}
