.sg {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: inherit;
  border: none;
  background: transparent;
  font: 300 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a.sg,
button.sg,
input.sg,
select.sg,
textarea.sg,
label.sg {
  -webkit-tap-highlight-color: rgba(0, 0, 0, .3);
}

a.sg,
button.sg {
  text-decoration: none !important;
  touch-action: none;
}

a.sg:hover,
button.sg:hover {
  opacity: .8;
}

.sg:focus {
  color: inherit;
  outline: none;
  box-shadow: none;
}
